body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./img/bg.png);
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    flex-direction: column;
}

.text h1{
    font-size: 65px;
    font-family: "Lilita One", sans-serif;
    color: #b91d37;
}

.container p{
    font-size: 30px;
    font-weight: bold;
    color: rgb(2, 65, 13);
    width: 300px;
    text-align: center;
}

.container {
    background-color: #ffffffe1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: #479af3;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.footer {
    background-color: #b91d37ce;
    text-align: center;
    height: 50px;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
  }
  .footer a{
    color: white;
    text-decoration: none;
  }